*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    background: linear-gradient(90deg, rgba(184, 241, 184), #20c4a6);
        background-size: cover;
        background-repeat: no-repeat;
        font-family: 'Poppins';
}


.container{
    display:flex;
    flex-direction: column;
}

.header{
height:25%;
display:flex;
justify-content: center;
align-items: center;
}

#header-text{
    display:flex;
    flex-direction: column;
}

#header-title{
    font-size:2.5rem;
}

#header-subtitle{
    font-size:1.5rem;
}

.about{
height: 35%;
color:black;
display:flex;
width:100%;
}

.abouthd{
    font-size:1.5rem;
    text-decoration: underline;
}

.mission{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height:100%;
width:50%;
}

.mission-text{
    display: flex;
        justify-content: center;
        align-items: center;
    font-size:1.2rem;
    width:75%;
    height:100%;
}

.owner{
        display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
    min-height: 100%;
width:50%;
}

.ceo-container{
    margin: 10px;
height:100%;
display:flex;
justify-content: center;
}

.ceo-text{
    margin-left:14px;
    margin-right:10px;
display:flex;
justify-content: center;
align-items: center;
    font-size: 1.2rem;
}
.ceo-text a{
    text-decoration: none;
    display:inline-block;
}

.owner img{
height:200px;
min-height: 100px;
border-radius: 100%;
}

.ceo-img-div{
display: flex;
    justify-content: center;
    align-items: center;
}

.products{
height:300px;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin:1em;
}



.header img{
height:200px;
padding:1em;
}

.slider {
    width: 100%;
    max-width: 800px;
    height: 300px;
    position: relative;
    /* overflow: hidden; */
}

.slide {
    width: 100%;
    max-width: 800px;
    height: 300px;
    position: absolute;
    transition: all 1s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
}
.btn-prev {
    top: 45%;
    left: 2%;
}

.btn-next {
    top: 45%;
    right: 2%;
}

.contact {
    height: 100px;
}








/* button{
    text-decoration: none;
    height:40px;
    width:80px;
    border-radius:10px;
    background-color:white;
    border:1px solid blue;
    position:relative;
    transition: all 1s;
    z-index: 1;
    overflow: hidden;
}

button:hover{
    color:white;
}

button::before{
    content:"";
    position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: blue;
        transition:all 1s;
        z-index:-1;
        transform: translateX(-100%);
}

button:hover::before{
    transform: translateX(0);
} */