*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    background: linear-gradient(#20c4a6,rgba(184, 241, 184));
        background-size: cover;
        background-repeat: no-repeat;
        font-family: 'Poppins';
        color:white;
}


.container{
    display:flex;
    flex-direction: column;
    z-index:1;
}

.header{
height:100vh;
display:flex;
justify-content: center;
align-items: center;
transform: translateY(-100%);
}

.header-active{
    transform: translateY(0);
    transition:2.5s;
}

#header-text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header-title{
    font-size:3rem;
    letter-spacing: 4px;
}

#header-title:hover{
color:pink;
transition:1.5s ease-in-out;
}

#header-subtitle{
    font-size:1rem;
    letter-spacing: 3px;
}

svg{
    position:absolute;
    height:60px;
    width:60px;
    top:45%;
    right:10%;
    fill:white;
    animation: moveUpDown 1s infinite alternate;
}

.about{
display:flex;
justify-content: center;
align-items: center;
width:100%;
height:100vh;
padding-left:1em;
padding-right:1em;
text-align: center;
overflow: hidden;
}

.about img{
    max-width:180px;
    max-height:180px;
}


.mission, .owner{
    padding:1em;
    display:flex;
    flex-direction: column;
    min-width:50%;
    height: 100%;
    justify-content: flex-start;
        align-items: center;
        font-size:1rem;
}

.logo-container, .ceo-container{
    max-height: 100%;
}

.logo-img-div, .ceo-img-div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height:200px;
}

.logo-img-div{
    margin-top:1em;
}

.ceo-img-div{
    margin-bottom:1em;
}

.ceo-img-div img{
    border-radius: 100%;
}


.abouthd{
    font-size:2rem;
    padding:0.5em;
    margin-top:0.5em;
    text-decoration: underline;
    position:relative;
    overflow: hidden;
    white-space: nowrap;
}


.abouthd::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #20c4a6;
    transition: all 0.75s;
    transform: translateX(-100%);
    z-index:-1;
    border-radius:10px;
}

.abouthd:hover::before {
    transform: translateX(0);
}

#article-btn{
    margin:4px;
    font-size:1.2rem;
    background-color: white;
    width:80px;
    height:40px;
    border:none;
    color:#20c4a6;
    border-radius:10px;
    cursor:pointer;
    position:relative;
    overflow: hidden;
    z-index: 1;
}

#article-btn::before{
    content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: pink;
        transition: all 0.75s;
        transform: translateX(-100%);
        z-index:-2;
        border-radius: 10px;
}

#article-btn:hover::before{
    transform:translateX(0)
}

#article-btn:hover{
    color:white;
}



.products{
height:75vh;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
overflow:hidden;
}

.products-title{
    margin-top:0;
    font-size:2rem;
    padding:0.5em;
}

.product-text{
margin-bottom:2em;
text-align: center;
}


.slider {
    width: 100%;
    max-width: 800px;
    height: 100%;
    position: relative;
    /* animation: slideIn 2s; */
}

.slide {
    width: 100%;
    max-width: 800px;
    height: 100%;
    position: absolute;
    transition: all 1s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
}

.btn:hover{
    background-color:#20c4a6;
    color:white;
}
.btn:active{
    transform:scale(1.2);
}
.btn-prev {
    top: 45%;
    left: 9%;
}

.btn-next {
    top: 45%;
    right: 9%;
}

.contact {
    height: 100px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:50%;
    margin:auto;
}


#instagram{
    font-size:3rem;
    color:white;
}

a:visited{
    text-decoration: none;
}

#instagram:hover{
    color:pink;
    transition:0.75s;
}

#etsy-logo{
    height:50px;
    width:50px;
    background-color: rgb(207, 150, 43);
    color: white;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}

#etsy a{
    text-decoration: none;
}

#etsy-logo:hover{
    background-color:white;
    border:1px solid rgb(207, 150, 43);
    color:rgb(207, 150, 43);
    transition: 0.75s;
}




/* scroll animations */


.reveal {
    opacity: 0;
    transition: 2s ease-in;
}

.reveal-active {
    opacity: 1;
    transition: 2s ease-in;
}

.mission {
    transition: 1s ease-in;
}


.slider-active{
    animation: slideIn 2s ease-in;
}

@keyframes moveUpDown {

    0%{
        transform:translateY(-25%);
    }

    100%{
        transform: translateY(25%);
    }
    
}

@keyframes slideIn{
        0% {
                transform: translateX(-200%);
            }
        50%{
            transform: translateX(200%);
        }
            100% {
                transform: translateX(0%);
            }
}


/*mobile*/

@media (max-width: 550px){
    .mission{
        margin-right:2em;
    }

svg{
         height:40px;
         width:40px;
         top:45%;
         right:6%;
}
.products{
    height:60vh;
}
.abouthd{
    font-size:1.5rem;
}
.about{
    padding:1em;
}
}